html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #EAEAEA; }

.fadeItOut {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  opacity: 0; }

.fadeItIn {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  opacity: 1 !important; }

.btn-social {
  color: white !important;
  text-align: center !important;
  margin: 5px; }

#Loading {
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%); }

#ClickScore {
  text-align: center;
  margin-bottom: 50px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-bottom: 30px;
  padding-top: 20px;
  border-radius: 20px;
  border: 1px solid #eed;
  background-color: #ffe; }

#Account {
  background-color: #DDD;
  margin: 30px; }
  #Account div {
    font-size: 10px;
    font-family: Consolas; }

#TopClickScorers {
  margin: 20px;
  padding: 2px;
  max-width: 300px;
  border: 1px solid black; }
  #TopClickScorers .container {
    margin-left: 0px;
    margin-right: 0px; }
    #TopClickScorers .container .title {
      margin-left: -17px;
      margin-right: -17px;
      margin-top: -2px;
      background: #EEE; }
      #TopClickScorers .container .title p {
        text-align: center;
        margin: 0px;
        padding: 0px; }

.ScorerLine:nth-child(odd) {
  background: #CCC; }

.ScorerLine:nth-child(even) {
  background: #FFF; }

.ScorerLine .rank {
  text-align: center;
  font-size: 11px;
  font-weight: bold; }

.ScorerLine .name {
  text-align: center;
  font-size: 10px; }

.ScorerLine .score {
  text-align: center;
  font-size: 10px; }

.placeholder {
  animation: pulse 1s infinite;
  min-height: 1em;
  text-indent: -99999px; }

@keyframes pulse {
  0% {
    background-color: #ebebeb; }
  50% {
    background-color: white; }
  100% {
    background-color: #ebebeb; } }

#BannerWrap {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 9999; }
  #BannerWrap #Banner {
    height: 100%;
    width: 100%;
    position: relative;
    background: -webkit-linear-gradient(left top, #006300, #5ABD5A);
    background: -o-linear-gradient(left top, #006300, #5ABD5A);
    background: -moz-linear-gradient(left top, #006300, #5ABD5A);
    background: linear-gradient(to left top, #006300, #5ABD5A); }
    #BannerWrap #Banner #Welcome {
      height: 100%;
      width: 100%; }
      #BannerWrap #Banner #Welcome h1 {
        font-size: 3em;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color: white; }
    #BannerWrap #Banner #settings-link {
      color: white;
      position: absolute;
      bottom: 10px;
      right: 20px; }
      #BannerWrap #Banner #settings-link:hover {
        color: white; }
    #BannerWrap #Banner #home-link {
      color: white;
      position: absolute;
      bottom: 10px;
      left: 20px; }
      #BannerWrap #Banner #home-link:hover {
        color: white; }

#Me {
  border-radius: 30px 30px 0 0;
  -webkit-box-shadow: 10px -2px 15px rgba(0, 0, 0, 0.4), -10px -2px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 10px -2px 15px rgba(0, 0, 0, 0.4), -10px -2px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 10px -2px 15px rgba(0, 0, 0, 0.4), -10px -2px 15px rgba(0, 0, 0, 0.4);
  height: 130px;
  width: 90%;
  margin-left: 5%;
  margin-top: -125px;
  padding: 3px;
  position: fixed;
  bottom: 0px;
  background-color: #f9f9f9; }
  #Me p {
    text-align: center; }
  #Me img {
    display: block;
    margin: auto;
    height: 100px;
    opacity: 0.9; }
  #Me #logout {
    font-size: 10px;
    opacity: 0.5; }
    #Me #logout:hover {
      opacity: 1.0; }
  #Me form {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%; }
    #Me form #updatestatus {
      width: 80%; }
    #Me form #submitstatus {
      margin-left: 2%;
      width: 18%; }
  #Me .sample-text {
    text-align: center; }
  #Me .sample-chart {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #5ABD5A; }

#SocialWrap {
  width: 100%; }

#ArticleFeed {
  margin: 10px;
  text-align: center; }
  #ArticleFeed .card {
    margin-bottom: 30px; }
  #ArticleFeed .article-card {
    background-color: #FBFBFB; }

#StatusFeed .status-update {
  margin: 10px;
  border-left: 6px solid #5ABD5A;
  background-color: #FBFBFB;
  text-align: center; }
  #StatusFeed .status-update .status-update-cons {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  #StatusFeed .status-update img {
    display: block;
    margin: auto;
    height: 65px;
    opacity: 0.9; }
  #StatusFeed .status-update .name {
    font-size: 10px; }
  #StatusFeed .status-update .status-text, #StatusFeed .status-update .status-time {
    text-align: left; }
  #StatusFeed .status-update .reply-count {
    margin-bottom: 0px; }
  #StatusFeed .status-update .reply-label {
    margin-top: 0px;
    font-size: 9px; }

#Profile {
  margin-top: 100px;
  margin-bottom: 140px; }

.pulsate {
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.7; }

@-webkit-keyframes pulsate {
  0% {
    opacity: 0.7; }
  50% {
    opacity: 1.0; }
  100% {
    opacity: 0.7; } }
